<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans-3.1.xsd 
						http://www.springframework.org/schema/context 
						http://www.springframework.org/schema/context/spring-context-3.1.xsd">
	   
	<!-- Habilita suporte as anotações JEE e Spring (@PersistenceContext, @PostConstruct, @Autowired etc) -->
	<context:annotation-config />
	<!-- Faz scanning de classes com anotações @Repository, @Service e @Component -->
	<context:component-scan base-package="br.com.monteiro.springDesktop" />
	   
</beans>